{% extends "base.html" %}
{% load custom_filters %}

{% load static %}

{% block content %}


<!--Main Slider Two Start-->
<section class="main-slider main-slider-two">
  <div
    class="swiper-container thm-swiper__slider"
    data-swiper-options='{"slidesPerView": 1, "loop": true,
"effect": "fade",
"pagination": {
  "el": "#main-slider-pagination",
  "type": "bullets",
  "clickable": true
},
"navigation": {
  "nextEl": "#main-slider__swiper-button-next",
  "prevEl": "#main-slider__swiper-button-prev"
},
"autoplay": {
  "delay": 5000
}}'
  >
  
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url("{% static 'assets/images/backgrounds/main-slider-2-1.jpg' %}");
          "
        ></div>
        <div class="image-layer-overlay"></div>
        <!-- /.image-layer -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-slider__content">
                <div
                  class="main-slider-two__map"
                  style="
                    background-image: url("{% static 'assets/images/shapes/main-slider-two-map.png' %}");
                  "
                ></div>
                <h3> Godhuli IT Solution</h3>
                <h2>Solution <span>Partners</span></h2>
                <p>
                  "Godhuli IT Solutions – Empowering Your Digital Future."
                </p>
                <a href="about.html" class="thm-btn">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url("{% static 'assets/images/backgrounds/main-slider-2-2.jpg' %}");
          "
        ></div>
        <div class="image-layer-overlay"></div>
        <!-- /.image-layer -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-slider__content">
                <div
                  class="main-slider-two__map"
                  style="
                    background-image: url("{% static 'assets/images/shapes/main-slider-two-map.png'%}");
                  "
                ></div>
                <h3>Gaau besi Logistic</h3>
                <h2>Delivery <span>Partners</span></h2>
                <p>
                  "One Stop Delivery Solution"
                </p>
                <a href="about.html" class="thm-btn">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url("{% static 'assets/images/backgrounds/main-slider-2-3.jpg' %}");
          "
        ></div>
        <div class="image-layer-overlay"></div>
        <!-- /.image-layer -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-slider__content">
                <div
                  class="main-slider-two__map"
                  style="
                    background-image: url("{% static 'assets/images/shapes/main-slider-two-map.png' %}");
                  "
                ></div>
                <h3>Godhuli IT Solution</h3>
                <h2>Solution <span>Partners</span></h2>
                <p>
                  "Godhuli IT Solutions – Empowering Your Digital Future."
                </p>
                <a href="about.html" class="thm-btn">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-pagination" id="main-slider-pagination"></div>
    <div class="main-slider__nav-two">
      <div
        class="swiper-button-prev"
        id="main-slider__swiper-button-next"
      >
        <i class="icon-right-arrow icon-left-arrow"></i>
      </div>
      <div
        class="swiper-button-next"
        id="main-slider__swiper-button-prev"
      >
        <i class="icon-right-arrow"></i>
      </div>
    </div>
  </div>
</section>
<!--Main Slider Two End-->


<section class="business-growth">
  <div class="business-growth__top">
    <div class="business-growth-bg">
      <div id="particles-js"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="business-growth__left">
            <div class="section-title text-left">
              <span class="section-title__tagline"
                >5 Years of Experience</span
              >
              <h2 class="section-title__title">
                Business Growth in <br />
                IT Consulting Solutions
              </h2>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="business-growth__right">
            <p class="business-growth__right-text">
              Lorem ipsum is simply free text dolor sit am adipi we help
              you ensure everyone is in the right jobs sicing elit, sed do
              consulting firms Et leggings across the nation tempor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="business-growth__bottom">
      <div class="row">
        {% for service in business_services %}
        <div
          class="col-xl-4 col-lg-4 wow fadeInLeft"
          data-wow-delay="100ms"
        >
          <!--Business Growth Single-->

          <div class="business-growth__single">

            <div class="business-growth__img">
              <img
                src="{{ service.image.url }}"
                alt=""
              />
            </div>
           <div class="business-growth__content">
              <h4 class="business-growth__title">
                <a href="services.html"
              >{{ service.tilte }}</a
                >
              </h4>
              <p class="business-growth__text">
                {{ service.description }}
              </p>
            </div> 
          </div>

        </div>
        {% endfor %}
        <div
        class="col-xl-4 col-lg-4 wow fadeInUp"
        data-wow-delay="200ms"
        >
        
        
      </div>
    </div>
  </div>
  <div class="business-growth__find">
    <div class="row">
      <div class="col-lg-12">
        <div class="business-growth__find-inner">
          <p>
            {IT services built specifically for your business.}
            <a href="services.html">Find Your Solution</a>
          </p>
        </div>
    
        </div>
      </div>
    </div>
  </div>
</section>




<section class="welcome-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div
          class="welcome-one__left wow slideInLeft"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <div class="welcome-one__img-box">
            <div class="welcome-one__img">
              <img
                src="{% static 'assets/images/resources/a1.webp' %}"
                alt=""
              />
            </div>
            <div class="welcome-one__certified">
              <div class="welcome-one__certified-icon">
                <span class="icon-customer"></span>
              </div>
              <h4 class="welcome-one__certified-text">
                We’re Certified <br />
                IT Experts.
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="welcome-one__right">
          <div class="section-title text-left">
            <span class="section-title__tagline"
              >Get to Know About us</span
            >
            <h2 class="section-title__title">
              Easy Solutions for Any Difficult IT Problem
            </h2>
          </div>
          <p class="welcome-one__right-text">
            There are many variations of passages of Lorem Ipsum
            available, but the majority have suffered alteration in some
            form, by injected humour, or randomised words which don't look
            even.
          </p>
          <div class="welcome-one__funded">
            <div class="welcome-one__funded-img">
              <img
                src="{% static 'assets/images/resources/a2.png'%}"
                alt="" style="width:100%; height:100px;"
              />
            </div>
            <div class="welcome-one__funded-content">
              <h3 class="welcome-one__funded-text">
                The IT Solutions and Services Company Funded in
                <span>1987</span>
              </h3>
            </div>
          </div>
          <h3 class="welcome-one__funded-name">
            Kevin Martin <span>Co - Founder</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="video-one">
  <div
    class="video-one-bg jarallax"
    data-jarallax
    data-speed="0.2"
    data-imgPosition="0% 100%"
    style="
      background-image: url("{% static 'assets/images/backgrounds/video-one-bg.jpg'%}");
    "
  ></div>
  <div class="video-one-bg-overly"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="video-one__inner">
          <div class="video-one__video-link">
            <a
              href="https://www.youtube.com/watch?v=Get7rqXYrbQ"
              class="video-popup"
            >
              <div class="video-one__video-icon">
                <span class="icon-play-button"></span>
                <i class="ripple"></i>
              </div>
            </a>
          </div>
          <h2 class="video-one__title">
            Trusted By The World's Best <br />
            Organizations
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="help">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <ul class="help__box list-unstyled clearfix">
          <li
            class="help__single help__box-one wow fadeInLeft"
            data-wow-delay="100ms"
          >
            <div class="help__box-one-content">
              <h3 class="help__box-one-title">
                Help Your Business Win and Grow!
              </h3>
            </div>
            <div class="help__box-one-img">
              <img
                src="{% static 'assets/images/resources/a4.webp'%}"
                alt=""
              />
            </div>
          </li>
          <li
            class="help__single help__box-two wow fadeInLeft"
            data-wow-delay="300ms"
          >
            <div class="help__box-two-content">
              <div class="help__box-two-icon">
                <span class="icon-learning"></span>
              </div>
              <h3 class="help__box-two-title">
                <a href="it-consultancy.html">IT Management</a>
              </h3>
              <p class="help__box-two-text">
                Lorem ipsu dolor sit am adipi we help you ensure everyone
              </p>
            </div>
          </li>
          <li
            class="help__single help__box-two wow fadeInLeft"
            data-wow-delay="600ms"
          >
            <div class="help__box-two-content">
              <div class="help__box-two-icon">
                <span class="icon-verify"></span>
              </div>
              <h3 class="help__box-two-title">
                <a href="cyber-security.html">Cyber Security</a>
              </h3>
              <p class="help__box-two-text">
                Lorem ipsu dolor sit am adipi we help you ensure everyone
              </p>
            </div>
          </li>
          <li
            class="help__single help__box-two help__box-last wow fadeInLeft"
            data-wow-delay="900ms"
          >
            <div class="help__box-two-content">
              <div class="help__box-two-icon">
                <span class="icon-cloud"></span>
              </div>
              <h3 class="help__box-two-title">
                <a href="cloud-computing.html">Cloud Computing</a>
              </h3>
              <p class="help__box-two-text">
                Lorem ipsu dolor sit am adipi we help you ensure everyone
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<section class="project-two">
  <div class="project-two__container">
    <div class="section-title text-center">
      <span class="section-title__tagline">Our Case Studies</span>
      <h2 class="section-title__title">Explore Projects</h2>
    </div>
    <div class="project-two__carousel owl-theme owl-carousel">
      <!--Project One Single-->

      {% for project in explore_project %}

      <div class="project-one__single">
        <div class="project-one__img">
          <img src="{{ project.image.url }}" alt="" />
        </div>
        <div class="project-one__content">
          <p class="project-one__tagline">Cloud Services</p>
          <h2 class="project-one__title">
            <a href="project-details.html">Smart Visions</a>
          </h2>
          <div class="project-one__arrow">
            <a href="project-details.html"
              ><span class="icon-right-arrow"></span
            ></a>
          </div>
        </div>
      </div>
     {% endfor %}

    </div>
  </div>  
</section>


<!--Brand Two Start-->
<section class="brand-two">
  <div class="container">
    <div class="brand-two__inner">
      <div
        class="thm-swiper__slider swiper-container"
        data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                  "0": {
                      "spaceBetween": 30,
                      "slidesPerView": 2
                  },
                  "375": {
                      "spaceBetween": 30,
                      "slidesPerView": 2
                  },
                  "575": {
                      "spaceBetween": 30,
                      "slidesPerView": 3
                  },
                  "767": {
                      "spaceBetween": 50,
                      "slidesPerView": 4
                  },
                  "991": {
                      "spaceBetween": 50,
                      "slidesPerView": 5
                  },
                  "1199": {
                      "spaceBetween": 100,
                      "slidesPerView": 5
                  }
              }}'
      >
        <div class="swiper-wrapper">
        
          {% for logo in logos %}

          <div class="swiper-slide">
            <img src="{{ logo.logo.url }}" alt="" style="width:100%; height:150px;" />
          </div>
         
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
<!--Brand Two End-->

 <!--Industries We Serve Start-->
 <section class="industries-we-serve">
  <div
    class="industries-we-serve-shape-1 wow slideInLeft"
    data-wow-delay="100ms"
    data-wow-duration="2500ms"
  >
    <img
      class="float-bob-y"
      src="{% static 'assets/images/shapes/industries-we-serve-shape-1.png'%}"
      alt=""
    />
  </div>
  <div
    class="industries-we-serve-shape-2 wow slideInRight"
    data-wow-delay="100ms"
    data-wow-duration="2500ms"
  >
    <img
      src="{% static 'assets/images/shapes/industries-we-serve-shape-2.png'%}"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-6">
        <div class="industries-we-serve__left">
          <div class="section-title text-left">
            <span class="section-title__tagline"
              >Industries We Serves</span
            >
            <h2 class="section-title__title">
              IT Services Customized for Your Industry
            </h2>
          </div>
          <p class="industries-we-serve__text">
            Lorem ipsum is simply free text available in the market not in
            dolor sit amet nsectetur cing elituspe ndisse suscipit sagitis
            leo sit.
          </p>
          <ul class="list-unstyled industries-we-serve__points">
            <li>
              <div class="icon">
                <span class="icon-check"></span>
              </div>
              <div class="text">
                <p>Application Development</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="icon-check"></span>
              </div>
              <div class="text">
                <p>BI Consulting and Implementation</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <span class="icon-check"></span>
              </div>
              <div class="text">
                <p>Machine and Deep Learning</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="industries-we-serve__right clearfix">
          <ul class="list-unstyled industries-we-serve__boxes clearfix">
            <li>
              <div class="industries-we-serve__icon">
                <span class="icon-laptop"></span>
              </div>
              <h3 class="industries-we-serve__title">
                Capital <br />
                Markets
              </h3>
            </li>
            <li>
              <div class="industries-we-serve__icon">
                <span class="icon-teaching"></span>
              </div>
              <h3 class="industries-we-serve__title">
                Higher <br />
                Education
              </h3>
            </li>
            <li>
              <div class="industries-we-serve__icon">
                <span class="icon-health-check"></span>
              </div>
              <h3 class="industries-we-serve__title">
                Health <br />
                Department
              </h3>
            </li>
            <li>
              <div class="industries-we-serve__icon">
                <span class="icon-bank"></span>
              </div>
              <h3 class="industries-we-serve__title">
                Bank <br />
                & Finance
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Industries We Serve End-->

 <!--Team One Start-->
<section class="team-one">
  <div class="team-one__container">
    <div class="container">
      <div class="section-title text-center">
        <span class="section-title__tagline">Professional People</span>
        <h2 class="section-title__title">Meet the Experts</h2>
      </div>
      <div class="row">
        {% for exports in meet_exports %}
        <div class="col-xl-3 col-lg-6 col-md-6">
          <!--Team One Single-->
          <div
            class="team-one__single wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1000ms"
          >
            <div class="team-one__img">
              <img src="{{ exports.image.url }}" alt="{{ exports.name }}" style="width:300px; height:300px;" />
              <div class="team-one__social">
                {% if exports.twitter %}
                  <a href="{{ exports.twitter }}"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if exports.facebook %}
                  <a href="{{ exports.facebook }}"><i class="fab fa-facebook"></i></a>
                {% endif %}
                {% if exports.insta %}
                  <a href="{{ exports.insta }}"><i class="fab fa-instagram"></i></a>
                {% endif %}
              </div>
            </div>
            <div class="team-one__content">
              <h3 class="team-one__name">{{ exports.name }}</h3>
              <p class="team-one__title">{{ exports.postition }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!--Team One End-->

 <!--Why Choose Start-->
 <section class="why-choose">
  <div
    class="why-choose-shape-1"
    style="
      background-image: url("{% static 'assets/images/shapes/why-choose-shape-1.png'%}");
    "
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="why-choose__left">
          <div class="why-choose__img">
            <img
              src="{% static 'assets/images/resources/a3.webp'%}"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="why-choose__right">
          <div class="section-title text-left">
            <span class="section-title__tagline">Why Choose Us</span>
            <h2 class="section-title__title">
              The Financial Need for Strategic Advisor
            </h2>
          </div>
          <div class="why-choose__right-text-box">
            <p class="why-choose__right-text">
              Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Our culture
              drives our – and more importantly – your success.
            </p>
          </div>
          <div class="why-choose__progress">
            <div class="why-choose__progress-single">
              <h4 class="why-choose__progress-title">Consulting</h4>
              <div class="bar">
                <div class="bar-inner count-bar" data-percent="77%">
                  <div class="count-text">77%</div>
                </div>
              </div>
            </div>
            <div class="why-choose__progress-single">
              <h4 class="why-choose__progress-title">Finance</h4>
              <div class="bar marb-0">
                <div class="bar-inner count-bar" data-percent="60%">
                  <div class="count-text">60%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Why Choose End-->

<!--Google Map Start-->
<section class="google-map">
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.348017568593!2d85.33426357616794!3d27.706539125525794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19c00254ec7d%3A0x4609319eb006932e!2sGaau%20besi%20logistics!5e0!3m2!1sne!2snp!4v1735126234877!5m2!1sne!2snp" 
  allowfullscreen="" 
  class="google-map__one"

  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!--Google Map End-->

<!--News Two Start-->
<section class="news-two">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="news-two__left">
          <div class="section-title text-left">
            <span class="section-title__tagline"
              >Direct from the Blog</span
            >
            <h2 class="section-title__title">Latest News & Articles</h2>
          </div>
          <p class="news-two__text">
            Lorem ipsum is simply free text dolor sit amet, consectetur
            notted adipisicing elit sed do eiusmod tempor incididunt ut
            labore et dolore text.
          </p>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="news-two__right">
          <div class="news-two__carousel owl-theme owl-carousel">
            {% for news in latest_news %}

            {{ news.image }}

            
          
            <div class="news-one__single">
              <div class="news-one__img">
                <img src="{{ news.image.url }}" alt="" />
                <a href="news-details.html">
                  <span class="news-one__plus"></span>
                </a>
                <div class="news-one__date-box">
                  <p>
                    {{ news.date }}
                  </p>
                </div>
              </div>
              <div class="news-one__content">
                <ul class="list-unstyled news-one__meta">
                  <li>
                    <a href="news-details.html"
                      ><i class="far fa-user-circle"></i> by {{ news.admin }}</a
                    >
                  </li>
                  <li>
                    <a href="news-details.html"
                      ><i class="far fa-comments"></i> {{ news.comments }} </a
                    >
                  </li>
                </ul>
                <h3 class="news-one__title">
                  <a href="news-details.html"
                    >{{ news.title }}</a
                  >
                </h3>
             
                <p class="news-one__text">
                  {{ news.content|richtext_truncatewords:10 }}

                </p>

                    <div class="news-one__read-more">
                        <a
                            href="news-details.html"
                            class="news-one__read-more-btn"
                            >Read More</a
                        >
                    </div>
              </div>
            </div>
            
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--News Two End-->

<!--CTA Two Start-->
<section class="cta-two">
  <div class="cta-two__container">
    <div class="cta-two-shape-1">
      <img src="{% static 'assets/images/shapes/cta-two-shape-1.png'%}" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="cta-two__inner">
            <div class="cta-two__left">
              <h2 class="cta-two__title">
                We’ll Help You Overcome Your <br />
                Technology Challenges
              </h2>
            </div>
            <div class="cta-two__btn-box">
              <a href="contact.html" class="cta-one__btn thm-btn"
                >Discover More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CTA Two End-->


{% endblock content %}