{% extends "admin/admin_base.html" %} 
{% block page_title%}Projects {%endblock page_title%} 
{% block page_sub_title%} Add Project {%endblock page_sub_title%} 
{% block admin_content%}

<form>
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Image</label>
        <div class="col-sm-10">
          <input type="file" class="form-control form-control-lg" id="image/png" placeholder="Upload the image">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="title " placeholder="Enter the title">
        </div>
      </div>
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Enter the Description">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Category</label>
        <div class="col-sm-10">
            <select name="category" class="form-control form-control-lg" id="colFormLabelLg" >
                <option value="" selected>--------</option>
                {% for category in categories %}
                <option value="{{ category.title }}">{{ category.title }}</option>
                {% endfor %}
    
            </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Add Project </button>
  </form>

{% endblock admin_content%}