{% extends "admin/admin_base.html" %} 
{% load custom_filters %}
{% block page_title%}Projects {%endblock page_title%} 
{% block page_sub_title%} Project List {%endblock page_sub_title%} 
{% block admin_content%}


<div class="row">
    {% for project in projectlist %}
    <div class="col-md-3 ">
        <div class="card">
            <img src="{{project.image.url}}" class="card-img-top" alt="..." style= "height:250px; width:100%; ">
            <div class="card-body">
            <h5 class="card-title">{{project.title}}t.</h5>
            <p class="card-text">{{ project.description|richtext_truncatewords:10 }}
            </p>
            <a href="{%url 'it_solution:editproject' %}" class="btn btn-primary">Edit</a>
            <a href="{%url 'it_solution:deleteproject' %}" class="btn btn-primary" style="background-color: red;" >Delete</a>
            </div>
        </div>
    </div>
        {% endfor %}
</div>

{% endblock admin_content%}