{% extends "base.html" %}


{% load static %}

{% block content %}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url({% static 'assets/images/backgrounds/a5.jpg'%})">
    </div>
    <div class="page-header-bg-overly"></div>
    <div class="page-header-shape wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"
        style="background-image: url({% static 'assets/images/shapes/page-header-shape.png'%})"></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% url 'it_solution:home' %}">Home</a></li>
                <li><span>/</span></li>
                <li>About</li>
            </ul>
            <h2>About</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

 <!--About Two Start-->
 <section class="about-two">
     {% comment %} {% for growth in growth_business %} {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-two__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <div class="about-two__img">
                        <img src="{{ growth_business.image.url }}" alt="" style{"width=100%, height= 500px "}>
                    </div>
                </div>
            </div>


            <div class="col-xl-6">
                <div class="about-two__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Get to Know About us</span>
                        <h2 class="section-title__title">{{ growth_business.title }}</h2>
                    </div>
                    <p class="about-two__text-1">{{ growth_business.long_description}}</p>
                    <p class="about-two__text-2">{{ growth_business.short_description}}</p>
                    <div class="about-two__progress-wrap">
                        <div class="about-two__progress">
                            <div class="about-two__progress-box">
                                <div class="circle-progress"
                                    data-options='{ "value": {{ growth_business.suces_percentage }},"thickness": 3,"emptyFill": "#eef3f7","lineCap": "square", "size": 138, "fill": { "color": "#42d9be" } }'>
                                </div><!-- /.circle-progress -->
                                <span>{{ growth_business.sucess}}%</span>
                            </div>
                            <div class="about-two__progress-content">
                                <h3>Successful Projects</h3>
                            </div>
                        </div>
                        <div class="about-two__progress">
                            <div class="about-two__progress-box">
                                <div class="circle-progress"
                                    data-options='{ "value": {{ growth_business.percentage_solved}},"thickness": 3,"emptyFill": "#eef3f7","lineCap": "square", "size": 138, "fill": { "color": "#42d9be" } }'>
                                </div><!-- /.circle-progress -->
                                <span>{{ growth_business.problem_solved}}%</span>
                            </div><!-- /.about-five__progress-box -->
                            <div class="about-two__progress-content">
                                <h3>Problem Solved</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    {% comment %} {% endfor %} {% endcomment %}
</section>
<!--About Two End-->

<!--Brand Two Start-->
<section class="brand-two">
    <div class="container">
      <div class="brand-two__inner">
        <div
          class="thm-swiper__slider swiper-container"
          data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'
        >
          <div class="swiper-wrapper">
          
            {% for logo in logos %}
  
            <div class="swiper-slide">
              <img src="{{ logo.logo.url }}" alt="" style="width:100%; height:150px;" />
            </div>
           
            {% endfor %}
  
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Brand Two End-->

<!--Video One Start-->
<section class="video-one about-page-video">
    <div class="video-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url(assets/images/backgrounds/video-one-bg.jpg)"></div>
    <div class="video-one-bg-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-one__inner">
                    <div class="video-one__video-link">
                        <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                            <div class="video-one__video-icon">
                                <span class="icon-play-button"></span>
                                <i class="ripple"></i>
                            </div>
                        </a>
                    </div>
                    <h2 class="video-one__title">Trusted By The World's Best <br> Organizations</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Video One End-->

<!--Testimonial One Start-->
<section class="testimonial-one">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="testimonial-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Customers Feedbacks</span>
                        <h2 class="section-title__title">What They’re Talking About Our Company</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="testimonial-one__right">
                    <div class="testimonial-one__carousel owl-theme owl-carousel">
                        <!--Testimonial One Single-->
                        
                        {% for feedbacks in costumer_feedbacks %}
                        
                        <div class="testimonial-one__single">
                            <div class="testimonial-one__client-info">
                                <div class="testimonial-one__client-img">
                                    <img src="assets/images/testimonial/testimonial-one-img-1.png" alt="">
                                </div>
                                <div class="testimonial-one__client-details">
                                    <h5 class="testimonial-one__client-name">{{ feedbacks.name }}</h5>
                                    <p class="testimonial-one__client-title">{{ feedbacks.position }}</p>
                                </div>
                            </div>
                            <p class="testimonial-one__text">{{ feedbacks.comment }}</p>
                            <div class="testimonial-one__quote">
                                <span class="icon-right-quote"></span>
                            </div>
                        </div>
                        {% endfor %}

                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial One End-->

<!--Team One Start-->
<section class="team-one about-page-team">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Professional People</span>
            <h2 class="section-title__title">Meet the Experts</h2>
        </div>
        <div class="row">
            {% for exports in meet_exports %}
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!--Team One Single-->
                <div class="team-one__single  wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="team-one__img">
                        <img src="{{ exports.image.url }}" alt="{{ exports.name }}" style="width:300px; height:300px;" />
                        <div class="team-one__social">
                        {% if exports.twitter %}
                            <a href="{{ exports.twitter }}"><i class="fab fa-twitter"></i></a>
                          {% endif %}
                          {% if exports.facebook %}
                            <a href="{{ exports.facebook }}"><i class="fab fa-facebook"></i></a>
                          {% endif %}
                          {% if exports.insta %}
                            <a href="{{ exports.insta }}"><i class="fab fa-instagram"></i></a>
                          {% endif %}
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__name">{{ exports.name }}</h3>
                        <p class="team-one__title">{{ exports.postition }}</p>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
<!--Team One End-->

{% endblock content %}


{% block scripts %}


{% endblock scripts %}