{% extends "admin_pannel/admin_base.html" %} 
{% block page_title%}Dashboard {%endblock page_title%} 
{% block page_sub_title%} {%endblock page_sub_title%} 
{% block admin_content%}

<div class="row">
  <div class="col-md-3 text-center">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Total News</h5>
        <p class="card-text">
          {{ total_news}} 
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center ">
    <div class="card">
      {% comment %} <img class="card-img-top" src="..." alt="Card image cap" /> {% endcomment %}
      <div class="card-body">
        <h5 class="card-title">Total Projects </h5>
        <p class="card-text">
          {{ total_projects }}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock admin_content%}
